/*navbar styling*/
.navbar             {   background:         slategray; }
.nav-link           {   margin-right:       1em !important; 
                        color:              darkgreen; 
}
.navbar-brand       { color:            darkgreen; }
.navbar-collapse    { justify-content:  flex-end; }
/*end navgar*/
.body       {   background-color: darkslateblue; }
.container  {   background-color: darkslategray; }
.page       {   background-color: darkslategray; }

h1, h3      {   color:            darkolivegreen; }
h2, h5      {   color:            darkolivegreen; text-align: center; }
p           {   color:            green; padding-left: 2em; }
/*header*/
.header     {
                background-image:       url('../images/header-bg.png');
                background-size:        cover;
                background-position:    center;
                background-color:       burlywood;
}
.overlay    {
                opacity:    .5;
                background: black;
}
/*end header*/

/*about*/
.about-img-left { position: relative; }
.about-desc {
    border-left: 4px solid darkolivegreen;
    height: 100%;
}
.about-img-main {
    background-image: url('../images/header-bg.png');
    border-radius: 50%;
    border-left: 4px solid darkolivegreen;
}
.about-highlights {
    height: auto;
    background-color: slategray;
}
/*end about*/