/*navbar styling*/
.navbar { background: grey; }
.nav-link { margin-right: 1em !important; }
.navbar-collapse{ justify-content: flex-end; }

/*pages*/

.page {
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    padding: 4em;
    margin: 0;
}

/*header*/
.header {
    position: relative;
    background-image: url('../images/header-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: burlywood;
}

.overlay {
    position: absolute;
    opacity: .5;
    background: lightslategrey;
}
.description {
    position: absolute;
    top: 30%;
    margin: auto;
    background: darkslategray;
}

/*end header*/